@keyframes stars {
    0% {
        transform: scaleY(0.93) scaleX(0.97);
    }

    100% {
        transform: scaleX(1.05) scaleY(1.05);
    }
}

@media screen and (max-width:1192px) {
    @keyframes stars {
        0% {
            transform: scaleX(0.93) scaleY(0.91);
        }

        100% {
            transform: scaleX(1.05) scaleY(1.05);
        }
    }
}

@media screen and (max-width:768px) {
    @keyframes stars {
        0% {
            transform: scaleY(0.9) scaleX(0.94);
        }

        100% {
            transform: scaleX(1.05) scaleY(1.05);
        }
    }
}




@keyframes rays {
    0% {
        opacity: 0;
        filter: blur(0px);
    }

    50% {
        filter: blur(2px);
        opacity: 0.5;
    }

    100% {
        filter: blur(4px);
        opacity: 1;
    }
}
