@import url('../css/animations.css');

.header {
    position: relative;
    height: 796px;
    background-image: url('../assets/Desktop_Backgrounds_1920x1200_6\ 3.png');
    background-size: cover;
    color: var(--primary-color);
}

.header::after {
    content: '';
    position: absolute;
    width: 61.79365505214796%;
    height: 86.46051416756609%;
    top: 4%;
    right: 3%;
    transform-origin: right;
    transform: scaleY(0.93) scaleX(0.97);
    background-size: cover;
    background-image: url('../assets/Stars.png');
    animation: stars 3s ease-in-out infinite alternate;
}

.header::before {
    content: '';
    position: absolute;
    width: 39.3%;
    height: 86.47738693467337%;
    top: 11.5%;
    right: -0.7%;
    transform-origin: center;
    transform: scaleY(0.93) scaleX(0.94);
    background-size: cover;
    background-image: url('../assets/Rays.png');
    animation: rays 3s ease-in-out infinite alternate;
}



@media screen and (max-width:1192px) {
    .header::after {
        top: 1.3%;
        right: 5%;
    }

    .header::before {
        top: 8.5%;
    }
}



.nav-container {
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    font-family: Noto-Sans, 'sans-serif';
}

nav>a[title="logo"] {
    flex: 1 0 100px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: calc(20/16 * 1rem);
    font-weight: 500;
}

.nav {
    flex: 3 0 200px;
    display: flex;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.nav-item {
    position: relative;
}

.nav-item:nth-child(2)::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FFF;
}

.nav-item-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 400;
}

.header-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.header-logo {
    width: fit-content;
    height: fit-content;
    margin-bottom: -1rem;
    z-index: 8888;
}

.header-content-heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.header-content-subheading {
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.7;
}

.burger-menu-container {
    display: none;
}

.burger-menu {
    display: none;
}



@media screen and (max-width:768px) {
    .header {
        height: 796px;
        background-image: url('../assets/Desktop_Backgrounds_1920x1200_6\ 3.png');
        background-size: auto 100%;
        background-position: right;
        background-repeat: no-repeat;
    }

    .header::after {
        top: 1%;
        right: 3%;
        transform: scaleY(0.9) scaleX(0.94);
        background-size: cover;
        background-position: right;
    }

    .header::before {   
  
        top: 8%;
        right: 9.5%;
        background-position: center;
        background-size: cover;
    }


    .nav-container {
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: none;
    }

    .burger-menu-container {
        display: block;
        cursor: pointer;
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .burger-menu {
        display: block;
        width: 32px;
        height: 3px;
        background-color: #FFFFFF;
        position: relative;
    }

    .burger-menu::after,
    .burger-menu::before {
        content: ' ';
        position: absolute;
        background-color: #FFFFFF;
        width: 32px;
        height: 3px;
    }

    .burger-menu::before {
        top: -8px;
    }

    .burger-menu::after {
        top: 8px;
    }

    .header-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-content-heading {
        text-align: center;
        font-size: 2.5rem;
    }
}

.header-logo-icon {
    cursor: pointer;
    transform-origin: center center;
    transform: rotateY(0deg) scaleX(1) scaleY(1);
    transition: all ease-in-out 0.5s;
    z-index: 555;
}

.header-logo:hover .header-logo-icon {
    transform: rotateY(180deg) scaleX(1.5) scaleY(1.5);
}